#container {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 80%;
    margin: auto;
}

#users,
#buttons {
    height: 100%;
    width: 40%;
}

#users {
    height: inherit;
    text-align: right;
}

#users input {
    margin-bottom: 20px;
    padding: 5px;
    font-size: 3em;
}


button {
    display: block;
    margin-bottom: 5%;
    padding: 10px;
    font-size: 1em;
}